body {
	background: url(tree_bird.png);
	background-size: 1350px;
	background-repeat: no-repeat;
	margin-left: 2cm;
}

#title {
	color: #CC0066;
	text-align: center;
	font-size: 40px;
	font-family: Purisa;
}

#pic {
	position: fixed;
	bottom: 55px;
	left: 925px;
	border-radius: 31px 31px 31px 31px;
	-moz-border-radius: 31px 31px 31px 31px;
	-webkit-border-radius: 31px 31px 31px 31px;
	border: 0px solid #000000;
}

#srch {
	margin-left: 600px;
	margin-top: 0.25cm;
}

.bar {
	font-family: TlwgTypewriter;
	font-size: 17px;
	font-weight: bold;
}
